section#blog {
  background-color: #ecf0f5;
}
section#blog .show-all {
  font-size: 0.6em;
  float: right;
}

section#articles {
  background-color: #ecf0f5;
}


section#articles .main-container {
  padding-bottom: 10em;
  z-index: 2;
  position: relative;
}

@media (max-width: 800px) {
  section#articles .main-container {
    padding-bottom: 1em;
  }
}

section#articles .card {
  min-width: 350px;
}

section#articles .card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 0.7em;
}

section#articles button.show-more {
  background: #00b3ff;
  border: none;
  border-radius: 15px;
}

section#article .goback i{
  text-decoration: none;
  color: #888888;
}

section#article .separator-margin {
  margin-bottom: 250px;
}

section#article .goback {
  font-size: 1.1em;
  text-decoration: none;
  color: #00b3ff;
}

section#article h2 {
  font-size: 2.8em;
  font-weight: 700;
  text-align: left;
  color: #000;
}

section#article p, section#article ul, section#article h3 {
  color: #392a28;
}



section#article span {
  color: #00b3ff;
  font-weight: 300;
  font-size: 0.8em;
}


section#article p.post-date {
  width: 100%; 
  text-align: right; 
  border-bottom: 1.5px solid #888888; 
  line-height: 0.6em;
  margin: 10px 0 20px; 
} 

section#article p.post-date span { 
   background:#fff; 
   padding:0 10px; 
   color: #888888;
}