section#missionvision {
    background-color: #00b3ff;
}

section#missionvision h2.content-header:after {
    background-color: #ffff;
}

section#missionvision, 
section#missionvision h2.content-header {
    color: #ffff;
}

section#missionvision img {
    max-width: 140px;
    max-height: 120px;
}