section#managedplatforms {
    background-color: #00b3ff;
}

section#managedplatforms h2.content-header:after {
    background-color: #ffff;
}

section#managedplatforms, section#managedplatforms h2.content-header {
    color: #ffff;
}

section#managedplatforms img {
    max-height: 100px;
}

section#managedplatforms p {
    color: #00b3ff;
}

section#managedplatforms .card-body {
    display: flex;
    justify-content: center;
}

section#managedplatforms a {
    text-decoration: none;
}

section#managedplatforms a .card {
    transition: all 0.2s;
}

section#managedplatforms a .card:hover {
    opacity: 0.9;
    margin-top: -.3rem;
    margin-bottom: .3rem;
}

section#managedplatforms a .card p {
    font-size: 1.4em;
    font-weight: 600;
}