section#managedplatforms {
    background-color: #00b3ff;
}

section#managedplatforms h2.content-header:after {
    background-color: #ffff;
}

section#managedplatforms, section#managedplatforms h2.content-header {
    color: #ffff;
}

section#managedplatforms .content-info {
    color: #00b3ff;
}

section#managedplatforms a {
    background-color: #3f5465;
    text-decoration: none;
    color: #3f5465;
}

section#managedplatforms a .list-group-item{
    transition: all 0.2s;
}

section#managedplatforms a .list-group-item:hover {
    opacity: 0.9;
    margin-top: -.3rem;
    margin-bottom: .3rem;
}