section#team {
    background-color: #ecf0f5;
}

section#team .main-container {
    padding-bottom: 10em;
    z-index: 2;
    position: relative;
}

@media (max-width: 800px) {
    section#team .main-container {
        padding-bottom: 1em;
    }
}

.team-member {
    height: 420px;
    max-height: 420px;
    max-width: 300px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #ffff;
}

.team-member .card-footer {
    padding: 0 !important;
    border-top: none !important;
}

.team-member .card-footer .user-data {
    padding: .75rem 0.1rem !important;
    margin-bottom: 30px;
}

.team-member .card-footer .user-data .limited-height {
    height: 70px;
}

.team-member:not(:hover) .card-footer .user-data {
    background-color: rgb(44 147 213 / 80%);
}

.team-member .card-footer .name {
    font-weight: 600;
    text-shadow: 1px 4px 8px #000000;
    margin: 0px;
}

.team-member .card-footer .position {
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: 100%;
    margin: 10px 0px;
}

.team-member ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

.team-member ul li {
    display: inline-block;
    padding: 5px;
    border: solid 1px #ffff;
    margin: 2px;
}

.team-member ul a {
    color: #fff;
}

.team-member ul a:hover {
    color: rgb(44 147 213);
}

.team-member ul a:hover li {
    background-color: #fff;
}

.team-member:not(:hover) .description {
    height: 0px;
    transition: height .4s;
    opacity: 0;
    padding: 0;
    overflow: hidden;
}

.team-member:hover .description {
    height: 180px;
    transition: height .4s;
    font-size: 0.7em;
    padding: 0px 10px;
}

.team-member .card-body, .team-member .card-footer {
    transition: background-color .4s;
}

.team-member:hover .card-body, .team-member:hover .card-footer {
    background-color: rgb(44 147 213 / 80%) !important;
    transition: background-color .4s;
}

.team-member:hover .card-footer .user-data {
    background-color: none !important;
}