footer {
    background: rgb(0,179,255);
    background: linear-gradient(90deg, rgba(0,179,255,1) 0%, rgba(0,241,255,1) 100%);
    color: #ffff;
}

footer ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

footer a {
    color: #ffff;
    text-decoration: none !important;
    font-weight: 300;
}

footer .nav-link {
    padding: 0;
}

footer img {
    max-height: 100px;
}

footer .copyright {
    font-weight: 300;
    font-size: 0.8em;
}